body {
    width: 80%;
    height: 300px;
}

.header {
    border: 1px solid black;
}

.header h1 {
    text-align: center;
}

.header img {
    width: 20%;
    height: 300px;
}

.header h2 {
    margin-left: 70px;
    /* text-align: center;
    padding-top: 0%; */
    margin-top: -70px;

}

.midmain {
    width: 80%;
    height: 500px;
    text-align: center;
    border: 1px solid black;
}

.twoheader {
    display: flex;
    text-align: center;
}


.midmain {
    width: 100%;
    height: 500px;
    border: 1px solid black;

}

.page1 {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 20px;
}

.page2 {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 20px;
}

.page3 {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 20px;
}

.onetothreepage {
    text-align: center;
    display: flex;
    margin-left: 300px;
}

.main1 {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 20px;
}

.main2 {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 20px;
}

.main3 {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    text-align: center;
    margin: 20px;
}

.onetothreemain {
    display: flex;
    margin-left: 300px;
}

.herderh1 {
    border: 1px solid black;
    text-align: center;
    height: 100px;
    width: 100%;

}

.H2 {
    text-align: right;
    margin-right: 800px;
}


.Add {
    margin-left: 100px;
}